html:not(.dark) {
  pre.hljs {
    color: #4c4f69;
    background: #eff1f5;
  }
  code .hljs-keyword {
    color: #8839ef;
  }
  code .hljs-built_in {
    color: #d20f39;
  }
  code .hljs-type {
    color: #df8e1d;
  }
  code .hljs-literal {
    color: #fe640b;
  }
  code .hljs-number {
    color: #fe640b;
  }
  code .hljs-operator {
    color: #04a5e5;
  }
  code .hljs-punctuation {
    color: #5c5f77;
  }
  code .hljs-property {
    color: #179299;
  }
  code .hljs-regexp {
    color: #ea76cb;
  }
  code .hljs-string {
    color: #40a02b;
  }
  code .hljs-char.escape_ {
    color: #40a02b;
  }
  code .hljs-subst {
    color: #6c6f85;
  }
  code .hljs-symbol {
    color: #dd7878;
  }
  code .hljs-variable {
    color: #8839ef;
  }
  code .hljs-variable.language_ {
    color: #8839ef;
  }
  code .hljs-variable.constant_ {
    color: #fe640b;
  }
  code .hljs-title {
    color: #1e66f5;
  }
  code .hljs-title.class_ {
    color: #df8e1d;
  }
  code .hljs-title.function_ {
    color: #1e66f5;
  }
  code .hljs-params {
    color: #4c4f69;
  }
  code .hljs-comment {
    color: #7c7f93;
  }
  code .hljs-doctag {
    color: #d20f39;
  }
  code .hljs-meta {
    color: #fe640b;
  }
  code .hljs-section {
    color: #1e66f5;
  }
  code .hljs-tag {
    color: #179299;
  }
  code .hljs-name {
    color: #8839ef;
  }
  code .hljs-attr {
    color: #1e66f5;
  }
  code .hljs-attribute {
    color: #40a02b;
  }
  code .hljs-bullet {
    color: #179299;
  }
  code .hljs-code {
    color: #40a02b;
  }
  code .hljs-emphasis {
    color: #d20f39;
    font-style: italic;
  }
  code .hljs-strong {
    color: #d20f39;
    font-weight: bold;
  }
  code .hljs-formula {
    color: #179299;
  }
  code .hljs-link {
    color: #209fb5;
    font-style: italic;
  }
  code .hljs-quote {
    color: #40a02b;
    font-style: italic;
  }
  code .hljs-selector-tag {
    color: #df8e1d;
  }
  code .hljs-selector-id {
    color: #1e66f5;
  }
  code .hljs-selector-class {
    color: #179299;
  }
  code .hljs-selector-attr {
    color: #8839ef;
  }
  code .hljs-selector-pseudo {
    color: #179299;
  }
  code .hljs-template-tag {
    color: #dd7878;
  }
  code .hljs-template-variable {
    color: #dd7878;
  }
  code .hljs-addition {
    color: #40a02b;
    background: rgba(64, 160, 43, 0.15);
  }
  code .hljs-deletion {
    color: #d20f39;
    background: rgba(210, 15, 57, 0.15);
  }
}

.dark {
  pre.hljs {
    color: #cdd6f4;
    background-color: #1e1e2e;
  }
  code .hljs-keyword {
    color: #cba6f7;
  }
  code .hljs-built_in {
    color: #f38ba8;
  }
  code .hljs-type {
    color: #f9e2af;
  }
  code .hljs-literal {
    color: #fab387;
  }
  code .hljs-number {
    color: #fab387;
  }
  code .hljs-operator {
    color: #89dceb;
  }
  code .hljs-punctuation {
    color: #bac2de;
  }
  code .hljs-property {
    color: #94e2d5;
  }
  code .hljs-regexp {
    color: #f5c2e7;
  }
  code .hljs-string {
    color: #a6e3a1;
  }
  code .hljs-char.escape_ {
    color: #a6e3a1;
  }
  code .hljs-subst {
    color: #a6adc8;
  }
  code .hljs-symbol {
    color: #f2cdcd;
  }
  code .hljs-variable {
    color: #cba6f7;
  }
  code .hljs-variable.language_ {
    color: #cba6f7;
  }
  code .hljs-variable.constant_ {
    color: #fab387;
  }
  code .hljs-title {
    color: #89b4fa;
  }
  code .hljs-title.class_ {
    color: #f9e2af;
  }
  code .hljs-title.function_ {
    color: #89b4fa;
  }
  code .hljs-params {
    color: #cdd6f4;
  }
  code .hljs-comment {
    color: #9399b2;
  }
  code .hljs-doctag {
    color: #f38ba8;
  }
  code .hljs-meta {
    color: #fab387;
  }
  code .hljs-section {
    color: #89b4fa;
  }
  code .hljs-tag {
    color: #94e2d5;
  }
  code .hljs-name {
    color: #cba6f7;
  }
  code .hljs-attr {
    color: #89b4fa;
  }
  code .hljs-attribute {
    color: #a6e3a1;
  }
  code .hljs-bullet {
    color: #94e2d5;
  }
  code .hljs-code {
    color: #a6e3a1;
  }
  code .hljs-emphasis {
    color: #f38ba8;
    font-style: italic;
  }
  code .hljs-strong {
    color: #f38ba8;
    font-weight: bold;
  }
  code .hljs-formula {
    color: #94e2d5;
  }
  code .hljs-link {
    color: #74c7ec;
    font-style: italic;
  }
  code .hljs-quote {
    color: #a6e3a1;
    font-style: italic;
  }
  code .hljs-selector-tag {
    color: #f9e2af;
  }
  code .hljs-selector-id {
    color: #89b4fa;
  }
  code .hljs-selector-class {
    color: #94e2d5;
  }
  code .hljs-selector-attr {
    color: #cba6f7;
  }
  code .hljs-selector-pseudo {
    color: #94e2d5;
  }
  code .hljs-template-tag {
    color: #f2cdcd;
  }
  code .hljs-template-variable {
    color: #f2cdcd;
  }
  code .hljs-addition {
    color: #a6e3a1;
    background: rgba(166, 227, 161, 0.15);
  }
  code .hljs-deletion {
    color: #f38ba8;
    background: rgba(243, 139, 168, 0.15);
  }
}
